html {
    height: 100%;
    width: 100%;
}


body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 140px 1fr;
    height: 100%;
}


nav {
    font-family: 'Montserrat';
    font-weight: bolder;
    text-transform: uppercase;
    grid-row: span 2;
    background-color: rgb(47, 47, 47);
    height: 100%;
    color: rgb(134, 134, 134);
    padding-left: 20px;
}


span {
    color: RGB(248,242,133);
}


ul {
    padding-top: 300px;
}


li {
    margin-bottom: 20px;
    cursor: pointer;
}


main {
    display: grid;
    background-image: url(images/bckg.jpg); 
    grid-template-rows: 140px 1fr;
    margin: 20px;
}


main.homepage {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: soft-light;
}


main.opaque {
    opacity: 0.5;
}


#content {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 40px;
    color: black;
    margin: 20px 20px 0 20px;
}


#returns {
    margin: 0 20px 20px 20px;
}


button {
    background: none;
    color:white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 20px;  
}

li.simplicity {
    cursor: initial;
    padding-bottom: 20px;
}


i.fa-address-book {
    width: 100%;
    color: white;
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
}


i.fa-search {
    font-weight: 800;
}


p.directory {
    margin-bottom: 20px;
}


input, select {
    border-radius: 5px;
    font-family: 'Montserrat';
    color: black;
    width: 350px;
    height: 30px;
}


p {
    margin-top: 10px;
    color:white;
    font-size: 20px;
    font-family: 'Montserrat';
}


#returns p:nth-child(3n) {
    margin-bottom: 20px;
}


#returns p {
    color: white;
    margin-left: 10px;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 65px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    opacity: 1;
    margin-top: 150px;
}


a {
    color: rgb(248,242,133);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
}


h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 20px;
    opacity: 1;
}
